body {
    background-image: url('../images/images/background.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: blue;
    
    
    
}

.bob {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;
    
    
}

.abh1 {
    text-align: center;
    }

.abp1 {
    text-align: center;
    
}
