<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Error Form</title>
        <link type="text/css" rel="stylesheet" href="css/normailize.css" />
        <link type="text/css" rel="stylesheet" href="css/entireframework.min.css" />
        <link type="text/css" rel="stylesheet" href="css/bootstrap-plugin.css" />
        <link type="text/css" rel="stylesheet" href="css/style.css" />
        

        <script type="text/javascript" href="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js" />
    
            <script>
                angular.module('errorForm',[]);
            </script>
    </head>
    
    <!-- Begin angular error form application -->
    <body ng-app class="erbd">
        <header>
            <nav class="nav" tabindex="-1" onclick="this.focus()">
                <div class="container">
                    <a class="pagename current" href="#">Errors</a>
                    <a href="index.html">Home</a>
                    <a href="about.html">About</a> 
                    <a href="contact.html">Contact</a>
                    <a href="projects.html">Projects</a>
                </div>
            </nav>
            <button class="btn-close btn btn-sm">×</button>

    
    
        </header>
                

        <!-- angular error form -->
      
        <form name:"errorForm" ng-submit="ctrl.submitData()" class="erbd">
        Name:<br>
            <input ng-model="name" type="text" class="smooth erbd"/><br>
        Describe Error:<br> 
            <textarea ng-model="message" rows="5" class="smooth erbd"></textarea>
            <input type="submit" value="send message" class="erbd"/>
        
        </form>
        
        <div class="errorForm">
            <div>{{ name }}</div>
            <div>{{ message }}</div>
        </div>
    </body>


</html>